n8n-workflows/workflows/01-repair-order-created.json
{
  "name": "01 - Repair Order Created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "repair-order-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-repair-order-created",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "repair-order-created"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.orderId}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "alanjoel311@gmail.com",
        "toEmail": "={{$json.body.clientEmail}}",
        "subject": "🔧 Orden de Reparación Recibida - #{{$json.body.orderId.slice(0,8)}}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #2563eb; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n    .content { background: #f9fafb; padding: 30px; border-radius: 0 0 8px 8px; }\n    .info-box { background: white; padding: 15px; margin: 15px 0; border-left: 4px solid #2563eb; }\n    .footer { text-align: center; margin-top: 20px; color: #6b7280; font-size: 12px; }\n    .btn { display: inline-block; padding: 12px 24px; background: #2563eb; color: white; text-decoration: none; border-radius: 6px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✅ ¡Orden de Reparación Recibida!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hola <strong>{{$json.body.clientName}}</strong>,</p>\n      \n      <p>Hemos recibido tu solicitud de reparación. Un técnico evaluará tu equipo pronto.</p>\n      \n      <div class=\"info-box\">\n        <h3>📋 Detalles de la Orden</h3>\n        <p><strong>Orden:</strong> #{{$json.body.orderId.slice(0,8)}}</p>\n        <p><strong>Equipo:</strong> {{$json.body.equipmentType}}</p>\n        <p><strong>Marca:</strong> {{$json.body.equipmentBrand || 'N/A'}}</p>\n        <p><strong>Modelo:</strong> {{$json.body.equipmentModel || 'N/A'}}</p>\n        <p><strong>Problema:</strong> {{$json.body.problemDescription}}</p>\n      </div>\n      \n      <div class=\"info-box\">\n        <h3>👨‍🔧 Técnico Asignado</h3>\n        <p><strong>Nombre:</strong> {{$json.body.technicianName}}</p>\n        <p><strong>Email:</strong> {{$json.body.technicianEmail}}</p>\n      </div>\n      \n      <p><strong>Próximos pasos:</strong></p>\n      <ol>\n        <li>El técnico evaluará tu equipo</li>\n        <li>Recibirás un presupuesto estimado</li>\n        <li>Podrás aprobar o rechazar la reparación</li>\n      </ol>\n      \n      <p>Te mantendremos informado de cualquier actualización.</p>\n      \n      <div class=\"footer\">\n        <p>Sistema de Gestión de Reparaciones</p>\n        <p>Este es un correo automático, por favor no responder.</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "credentials": {
          "smtp": {
            "id": "1",
            "name": "Gmail SMTP"
          }
        }
      },
      "id": "send-email-client",
      "name": "Send Email to Client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromNumber": "whatsapp:+17609356606",
        "toNumber": "={{$json.body.technicianPhone.startsWith('whatsapp:') ? $json.body.technicianPhone : 'whatsapp:+593' + $json.body.technicianPhone}}",
        "message": "🔧 *NUEVA ORDEN DE REPARACIÓN*\n\n📋 Orden: #{{$json.body.orderId.slice(0,8)}}\n🛠️ Equipo: {{$json.body.equipmentType}}\n👤 Cliente: {{$json.body.clientName}}\n📝 Problema:\n{{$json.body.problemDescription}}\n\n⏰ Recibida: {{$json.body.createdAt}}\n\n👉 Por favor evalúa esta orden lo antes posible.",
        "credentials": {
          "twilioApi": {
            "id": "2",
            "name": "Twilio WhatsApp"
          }
        }
      },
      "id": "send-whatsapp-technician",
      "name": "Send WhatsApp to Technician",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "twilioApi": {
          "id": "2",
          "name": "Twilio WhatsApp"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notifications sent\", \"orderId\": $json.body.orderId } }}"
      },
      "id": "response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid payload\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "response-error",
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Send Email to Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp to Technician",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Client": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp to Technician": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "repair-order-created",
  "meta": {
    "instanceId": "n8n-repair-system"
  },
  "tags": []
}